<div class="container">
  <ul>
    <li><a><i class="fas fa-chart-line"></i> Dashboard</a></li>
    <div>
      <li><a><i class="fas fa-random"></i> Transfer Funds</a></li>
      <li><a><i class="fas fa-money-check-alt"></i>Deposit Funds</a></li>
      <li><a><i class="fas fa-user"></i> Create New Account</a></li>
      <li><a><i class="fas fa-users"></i> Manage Accounts</a></li>
    </div>
  </ul>
  <div class="ms-5">
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</div>

